@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	outline: 0;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("stone.jpg");	 
	background-position: relative;
	background-size: cover;
	height: 100vh;
	font-family: ariel,Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	display: grid;
	place-items:center;
}
#klaus{border-style:solid;
			border-color:#968541;
			background-clip: inherit;
			background-origin: border-box;
			background-color: #9EA045;
			border-radius: 6px;
			font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	        
			 }
.klaus{border-style:solid;
			border-color:#968541;
			background-clip: inherit;
			background-origin: border-box;
			background-color: #9EA045;
			border-radius: 6px;
			font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
            margin-right: 1300px;
	        
			 }
.klaus a{
	text-decoration: none;
	color: black;
}

h2{
	margin-bottom:2rem; 
}
form{
	display:flex;
	flex-direction: column;
	width: 24rem;
	gap:1rem;
}

input,select,textarea{
	padding: 1.4rem;
	background: transparent;
	border: 6px solid #968541;
	border-radius: 4px;
	color: cornsilk;
}
textarea{
	height:6rem;
}

button{
	width: 8rem;
	padding:1.4rem;
	cursor: pointer;
	background:blue;
	color: white;
}
button:hover{
	background:#968541;
	
}
button{
	transition: 0.5s ease;
}

